@import url('https://fonts.googleapis.com/css?family=Schoolbell|Wendy+One');
p{
  font-family: 'Wendy One', sans-serif;
  font-family: 'Schoolbell', cursive;
  font-size:25px;
  font-weight: bold;
  padding-bottom: 5px;
  margin: 0px;
}
body{
  background-color: #E6F4F1;
}
.hidden{
  display:none;
  width:20px;
  height:10px;
  border-radius: 30px;
  border: 2px solid black;
}
path:hover{
  stroke-width:2px;
}
.line,.xAxis,.yAxis,.line2{
  pointer-events:none;
}
.line{
  stroke:#907159;
  stroke-width:5;
}
.line2{
    stroke:#6474D9;
    stroke-width:5;
}
  stroke-width:5;
}
.xAxis,.yAxis,.xAxis2,.yAxis2{
  stroke-width:2;
}
.xAxis2 .tick,.yAxis2 .tick{
  display:none;
}
.xAxis text,.yAxis text{
  font-size: 12px;
  font-weight: bold;
  font-family: 'Wendy One', sans-serif;
  font-family: 'Schoolbell', cursive;
}
.year{
    font-size: 20px;
    color: #A0A0D7;
    background-image: linear-gradient(to right top, #326ab8, #3177c0, #3483c7, #3b90ce, #459cd4);
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 15%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    transition: .3s;
    font-family: 'Wendy One', sans-serif;
    font-family: 'Schoolbell', cursive;
    margin-bottom:3px;
    margin-top:3px;
  }

.year:hover{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
    transform: translateY(-5px);
}
.style{
 position:absolute;
 top:5%;
 left:80%;
 width:6%;
 height:70%;
 overflow-y: auto;
 border-top: 3px solid #5E6AC2;
 background-color: #FFEFCA;
}
.style2{
 position:absolute;
 top:5%;
 left:80%;
 width:13%;
 height:70%;
 overflow-y: auto;
 border-top: 3px solid #5E6AC2;
 background-color: #FFEFCA;
}
.style2::-webkit-scrollbar { width: 0 !important }
.style::-webkit-scrollbar { width: 0 !important }
.directory{
  position:absolute;
  top:3%;
  left:5%;
  width:70%;
}
.di{
    padding:7px;
    font-family: 'Wendy One', sans-serif;
    font-family: 'Schoolbell', cursive;
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #67c5ff;
    transition: .4s;
    margin-left:15px;
    width: 13%;
    height: 50%;
    font-size:20px;
}

.di:before{
   position:absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
}
.di:after{
   position:absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:0;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
}

.di:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

.di:hover:after {
    top: 3px;
}
#map{
  position:absolute;
  top:11%;
}
.job {
    position: relative;
    display: inline-block;
    width:100%;
    height:13%;
    font-weight: bold;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    text-shadow: 0 0 5px white;
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    transition: .4s;
    margin-bottom:15px;
    font-family: 'Wendy One', sans-serif;
    font-family: 'Schoolbell', cursive;
    font-size:20px;

}
.job:hover {
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 5px,#e9f4ff 5px, #e9f4ff 9px);
}
.homepage{
    position: absolute;
    top:80%;
    right:15%;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
    width:15%;
    height:7%;
    font-family: 'Wendy One', sans-serif;
    font-family: 'Schoolbell', cursive;
    font-size: 25px;
  }

.homepage:hover {
    background: #00bcd4;
    color: white;
}
